* {
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: 5% auto;
  font-family: Lato, sans-serif;
  color: rgb(59, 57, 57);
}

.todo-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  box-shadow: 2px 2px 2px 2px rgb(129, 125, 125);
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 5%;
  font-size: 1.2em;
  text-decoration: none;
  border-bottom: solid 0.5px rgb(129, 125, 125);
}

#todolist-header {
  font-size: 1.2em;
  font-weight: 700;
  padding: 5% 0;
}

#todolist-input,
.task-details {
  padding: 5% 0;
  border: none;
  outline: none;
}

.task-details {
  width: 90%;
  padding: 5% 5%;
  text-align: left;
  height: 100%;
}

.button-clear {
  text-align: center;
  font-size: 1.2em;
  background-color: rgb(228, 226, 226);
  padding: 5%;
}

.button-clear:hover,
.button-delete:hover,
#enter-button {
  cursor: pointer;
}

.button-more:hover {
  cursor: move;
}

.strike-through {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.help-menu {
  margin: 10% auto;
  padding: 5% 5%;
  box-shadow: 2px 2px 2px 2px rgb(129, 125, 125);
}

.help-menu > h3 {
  font-size: 1.5em;
  font-weight: 800;
}

.help-menu > ul {
  font-size: 1.2em;
  padding: 5% 5%;
}

@media screen and (min-width: 768px) {
  body {
    width: 40%;
  }
}
